<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= _('Ready Reckoner') %></title>
<meta name="description" content="<%= _('Provides a starting point for parliamentarians and the general public to broadly estimate the revenue impacts of changes to the federal tax system.') %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% I18n.available_locales.each do |locale| %>
  <% unless I18n.locale == locale %>
<link rel="alternate" hreflang="<%= locale.downcase %>" href="<%= root_url %>?locale=<%= locale %>" />
  <% end %>
<% end %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<%# We can't use Zepto, as it doesn't support Internet Explorer 9 and lower. %>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/assets/polyfiller.js"></script>
<%= javascript_include_tag 'webshim' %>
</head>
<body>

<div id="banner">
  <%= image_tag 'header.jpg', size: '768x113', alt: _('Parliamentary Budget Officer'), class: 'img-responsive center-block' %>
</div>

<%= yield %>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-21866813-15', 'auto');
ga('send', 'pageview');
</script>

</body>
</html>
